%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: '/style.css'}
  %body
    %section
      %h1 MoJ HTTP Response Checker
      %p This tool checks MoJ production sites for numerous security headers.
      -@checks.each do |url, checks|
        %section
        %h3=url
        %ul.checks
          -checks.each do |name, description, passed|
            %li{class: passed ? 'passed' : 'failed'}
              ="[#{passed ? '✓' : '✗'}] - #{name}"
