%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: '/style.css'}
  %body
    %section
      %h1 MoJ HTTP Response Checker
      %p This tool checks MoJ production sites for numerous security headers.

      %table.checks
        %thead
          %tr
            %th URL
            -@headers.each do |header|
              %th=header
        %tbody
          -@checks.each do |url, checks|
            %tr
              %td=url
              -checks.each do |_, description, passed|
                %td{ class: passed ? 'passed' : 'failed' }
